<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="con">
    <div class="row con">
        <div class="col-md-4 col-xl-6">
            <div class="card bg-c-blue order-card" routerLink="/crud">
                <div class="card-block">
                    <h5 class="m-b-20">Agregar categoría</h5>
                    <p class="m-b-0">Presione aquí</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-6">
            <div class="card bg-c-green order-card" routerLink="/art">
                <div class="card-block">
                    <h5 class="m-b-20">Agregar articulo</h5>
                    <p class="m-b-0">Presione aquí</p>
                </div>
            </div>
        </div>
	</div>
</div>